* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: hsl(0, 0%, 15%);
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}
.container {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 11px 1px hsl(330, 23%, 5%);
} 

.screen {
    flex: 1;
    display: flex;
    padding: 15px 20px;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 500;    
    color: hsl(0, 1%, 95%);
    flex-direction: column;
    background-color: #252526;
}

.keyboard {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    background-color: #403d3d;
}   

.key {
    width: 75px;
    height: 70px;
    flex: auto; 
    padding: 20px;
    color: hsl(0, 1%, 95%);
    background-color: #222222;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.1s;
}

.num:hover {
    background-color: hsl(53, 93%, 54%);
    color: #403d3d;
}

.op:hover {
    background-color: hsl(195, 70%, 52%);
}

.eq:hover {
    background-color: hsl(125, 75%, 48%);
}

.clear:hover,
.del:hover {
    background-color: hsl(0, 80%, 60%);
}

.cp:hover {
    background-color: hsl(308, 70%, 45%);
}

a { 
    color:darkviolet;
}

footer {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

