* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: Roboto, 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: hsl(0, 0%, 15%);
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.container {
    width: 320px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    box-shadow: 0px 0px 11px 1px hsl(330, 23%, 5%);
} 

.screen {
    flex: 1;
    display: flex;
    padding: 15px 20px;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 32px;
    font-weight: 700;    
    color: hsl(0, 1%, 95%);
    flex-direction: column;
    background-color: #252526;
}

.keyboard {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    background-color: #222222;
}   

.key {
    flex: 1 1 80px; 
    padding: 20px;
    font-size: 15px;
    font-weight: 900;
    color: hsl(0, 1%, 95%);
    background-color: #222222;
    cursor: pointer;
    transition: all 0.1s;
}

.num:hover {
    background-color: hsl(53, 93%, 54%);
    color: #403d3d;
}

.op:hover {
    background-color: hsl(195, 70%, 52%);
}

.eq:hover {
    background-color: hsl(125, 75%, 48%);
}

.clear:hover,
.del:hover {
    background-color: hsl(0, 80%, 60%);
}

.cp:hover {
    background-color: hsl(308, 70%, 45%);
}

a { 
    color:darkviolet;
}

footer {
    min-height: 32px;
    flex: 0;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

